@model CPW219_eCommerceSite.Models.User

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Email">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
